@media (max-width: 1170px) {
  .header__logo {
    padding-left: 25px;
  }
  .menu {
    padding-right: 25px;
  }
  
  .examples__title {
    margin-left: 15px;
    margin-bottom: 50px;
    font-size: 32px !important;
    max-width: 380px;
    margin: 0 auto;
  }

  .examples__inner-content {
    display: block !important;
  }
  .examples__inner-item {
    margin: 0 auto !important;
    margin-left: 15px;
    margin-bottom: 50px;
  }
  .examples__inner-item:first-child {
    max-width: 380px;
  }

  .footer {
    padding: 0px 30px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 970px) {
  .slider__item-title {
    font-size: 32px;
  }

  .slider__item-text {
    font-size: 24px;
  }

  .features__inner {
    display: flex;
    flex-direction: column;
  }
  .features__text {
    max-width: 100% !important;
  }
}

@media (max-width: 750px) {
  .quote__text {
    font-size: 14px !important;
  }
  .quote__symbol {
    font-size: 32px !important;
  }
}

@media (max-width: 650px) {
  .header {
    margin-bottom: 180px;
  }
  .menu ul {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 40px;
    background-color: #e5e5e5;
  }
  .menu li,
  .menu a {
    display: block;
    text-align: center;
  }
  .menu li:first-child {
    padding-left: 20px;
  }
  .menu li {
    border-top: 1px solid #fff;
  }

  .slider__item-title {
    font-size: 28px !important;
  }

  .slider__item-text {
    font-size: 20px !important;
  }
}

@media (max-width: 400px) {
  .examples img {
    max-width: 290px;
  
  }
  .examples__title {
    font-size: 18px !important;
  }
}
