.contact-me__title {
  font-family: "Playball";
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-me__input {
  border: none;
  outline: none;
  min-width: 100%;
  font-size: 18px;
  padding: 25px 0;
  border-bottom: 1px solid #e9ecef;
  margin: 0 auto;
  margin-bottom: 25px;
  min-width: 100%;
  padding-left: 10px;
}


.textarea {
  resize: none;
}

#contact-me__submit {
  color: #fff;
  background-color: #0d47a1;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 15px 15px;
  font-size: 16px;
}
